<AuLabel>
  Documenten
</AuLabel>

<AuTable>
  <:title>Totaal</:title>
  <:header>
    <tr>
      <th>Gemeente</th>
      <th>Bedrag</th>
    </tr>
  </:header>
  <:body>
    <tr>
      <td><strong>Aalst</strong></td>
      <td>25€</td>
    </tr>
   <tr>
      <td><strong>Dendermonde</strong></td>
      <td>75€</td>
    </tr>
    <tr>
      <td><strong>Aalst</strong></td>
      <td>25€</td>
    </tr>
  </:body>
  <:footer>
    <tr>
      <th>Totaal</th>
      <td>€125</td>
    </tr>
  </:footer>
</AuTable>

<AuLabel>
  Vergunningen
</AuLabel>

<AuTable>
  <:title>Totaal</:title>
  <:header>
    <tr>
      <th>Gemeente</th>
      <th>Bedrag</th>
    </tr>
  </:header>
  <:body>
    <tr>
      <td><strong>Aalst</strong></td>
      <td>25€</td>
    </tr>
   <tr>
      <td><strong>Dendermonde</strong></td>
      <td>75€</td>
    </tr>
    <tr>
      <td><strong>Aalst</strong></td>
      <td>25€</td>
    </tr>
  </:body>
  <:footer>
    <tr>
      <th>Totaal</th>
      <td>€125</td>
    </tr>
  </:footer>
</AuTable>