<div {{did-insert this.fetchMunicipalities}}>
  <AuLabel>
    Gemeenten + Prijzen
  </AuLabel>

  <AuTable>
    <:title>Totaal</:title>
    <:header>
      <tr>
        <th>Gemeente</th>
        <th>Postcode</th>
        <th>Bedrag</th>
      </tr>
    </:header>
    <:body>
      {{#each this.municipalities as |municipality|}}
        <tr>
          <td><strong>{{municipality.name}}</strong></td>
          <td>{{municipality.postalCode}}</td>
          <td>--</td>
        </tr>
      {{/each}}
    </:body>
    <:footer>
      <tr>
        <th>Totaal</th>
        <td>€125</td>
      </tr>
    </:footer>
  </AuTable>
</div>