{{#if this.refreshed}}
  <AuButton @disabled={{true}} class="au-u-margin-bottom" {{on 'click' (fn (mut this.refreshed) true)}}>Harvest besluiten</AuButton>

  <AuLabel>
    Goedkeuring lijst
  </AuLabel>

  <AuTable>
    <:title>Goedkeuringen</:title>
    <:header>
      <tr>
        <th>Gemeente</th>
        <th>Status</th>
        <th>Besluit</th>
        <th>Voorwaarden</th>
      </tr>
    </:header>
    <:body>
      <tr>
        <td><strong>Kluisbergen</strong></td>
        <td><AuPill @skin="success">goedkeuring</AuPill></td>
        <td><AuLinkExternal href="https://publicatie.gelinkt-notuleren.vlaanderen.be/Linkebeek/Gemeente/zittingen/1890f360-6944-11ef-ac66-19ee7e4179e3/uittreksels/794d9710-6946-11ef-ac66-19ee7e4179e3">Link naar publicatie</AuLinkExternal></td>
        <td><AuLinkExternal></AuLinkExternal></td>
      </tr>
    <tr>
        <td><strong>Ronse</strong></td>
        <td><AuPill @skin="border">Wacht op goedkeuring</AuPill></td>
        <td><AuLinkExternal></AuLinkExternal></td>
        <td><AuLinkExternal></AuLinkExternal></td>
      </tr>
      <tr>
        <td><strong>Wortegem-Petegem	</strong></td>
        <td><AuPill @skin="warning">Goedgekeurd onder voorwaarden</AuPill></td>
        <td><AuLinkExternal href="https://publicatie.gelinkt-notuleren.vlaanderen.be/Linkebeek/Gemeente/zittingen/1890f360-6944-11ef-ac66-19ee7e4179e3/uittreksels/794d9710-6946-11ef-ac66-19ee7e4179e3">Link naar publicatie</AuLinkExternal></td>
        <td><AuLinkExternal href="https://cloud.aatauil.com/s/BfcT2YGoEKwx3ND">Voorwaarden</AuLinkExternal></td>
      </tr>
      <tr>
        <td><strong>Oudenaarde</strong></td>
        <td><AuPill @skin="warning">Goedgekeurd onder voorwaarden</AuPill></td>
        <td><AuLinkExternal href="https://publicatie.gelinkt-notuleren.vlaanderen.be/Linkebeek/Gemeente/zittingen/1890f360-6944-11ef-ac66-19ee7e4179e3/uittreksels/794d9710-6946-11ef-ac66-19ee7e4179e3">Link naar publicatie</AuLinkExternal></td>
        <td><AuLinkExternal href="https://cloud.aatauil.com/s/BfcT2YGoEKwx3ND">Voorwaarden</AuLinkExternal></td>
      </tr>
    </:body>
    <:footer>
      <tr>
        <th>Status</th>
        <td><AuPill @skin="border">Wacht op alle goedkeuringen</AuPill></td>
      </tr>
    </:footer>
  </AuTable>
  {{else}}
    <AuButton class="au-u-margin-bottom" {{on 'click' (fn (mut this.refreshed) true)}}>Harvest besluiten</AuButton>

    <AuLabel>
      Goedkeuring lijst
    </AuLabel>

    <AuTable>
      <:title>Goedkeuringen</:title>
      <:header>
        <tr>
          <th>Gemeente</th>
          <th>Status</th>
          <th>Besluit</th>
          <th>Voorwaarden</th>
        </tr>
      </:header>
      <:body>
        <tr>
          <td><strong>Kluisbergen</strong></td>
          <td><AuPill @skin="border">Wacht op goedkeuring</AuPill></td>
          <td></td>
          <td><AuLinkExternal></AuLinkExternal></td>
        </tr>
      <tr>
          <td><strong>Ronse</strong></td>
          <td><AuPill @skin="border">Wacht op goedkeuring</AuPill></td>
          <td><AuLinkExternal></AuLinkExternal></td>
          <td><AuLinkExternal></AuLinkExternal></td>
        </tr>
        <tr>
          <td><strong>Wortegem-Petegem	</strong></td>
          <td><AuPill @skin="border">Wacht op goedkeuring</AuPill></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td><strong>Oudenaarde</strong></td>
          <td><AuPill @skin="border">Wacht op goedkeuring</AuPill></td>
          <td></td>
          <td></td>
        </tr>
      </:body>
      <:footer>
        <tr>
          <th>Status</th>
          <td><AuPill @skin="border">Wacht op alle goedkeuringen</AuPill></td>
        </tr>
      </:footer>
    </AuTable>
  {{/if}}