<AuLabel>
  Goedkeuring lijst
</AuLabel>

<AuTable>
  <:title>Goedkeuringen</:title>
  <:header>
    <tr>
      <th>Gemeente</th>
      <th>Status</th>
    </tr>
  </:header>
  <:body>
    <tr>
      <td><strong>Aalst</strong></td>
      <td>goedgekeurd</td>
    </tr>
   <tr>
      <td><strong>Dendermonde</strong></td>
      <td>Wacht op goedkeuring</td>
    </tr>
    <tr>
      <td><strong>Aalst</strong></td>
      <td>Wacht op goedkeuring</td>
    </tr>
  </:body>
  <:footer>
    <tr>
      <th>Status</th>
      <td>Wacht op goedkeuring</td>
    </tr>
  </:footer>
</AuTable>